Django>=5.0,<5.2
djangorestframework>=3.15
django-cors-headers>=4.4
django-environ>=0.11.2
psycopg2-binary>=2.9.9
celery>=5.4
redis>=5.0.1
Pillow>=11.0
requests>=2.32
google-genai>=1.0
gunicorn>=22.0
whitenoise>=6.7
dj-database-url>=2.2